[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-flake8 = "*"
pytest-isort = "*"
factory-boy = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
tox = "*"
isort = "*"
twine = "*"
black = "*"
pytest-black = "*"

[packages]
django = "*"
requests = "*"
django-rq = "*"
django-inline-static = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
