{# See: http://brianflove.com/2016/07/21/preloading-with-critical-path-css/ #}
{# Author: Norman Rusch #}

{% if critical_css %}
	{% block critical_css %}
		<style type="text/css">{% block critical_css_inline %}{{ critical_css|safe }}{% endblock %}</style>
	{% endblock %}
	{% block preload %}
		<link rel="preload" as="style" type="text/css" href="{{ css_path }}" onload="this.onload=null;this.rel='stylesheet'" />
	{% endblock %}
	{% block noscript %}
		<noscript><link rel="stylesheet" type="text/css" href="{{ css_path }}" /></noscript>
	{% endblock %}
	{% block script %}
		<script type="text/jscript">
			{% block script_inline %}
			{# loadCss #}
			!function(w){"use strict";var loadCSS=function(href,before,media){function ready(cb){return doc.body?cb():void setTimeout(function(){ready(cb)})}function loadCB(){ss.addEventListener&&ss.removeEventListener("load",loadCB),ss.media=media||"all"}var ref,doc=w.document,ss=doc.createElement("link");if(before)ref=before;else{var refs=(doc.body||doc.getElementsByTagName("head")[0]).childNodes;ref=refs[refs.length-1]}var sheets=doc.styleSheets;ss.rel="stylesheet",ss.href=href,ss.media="only x",ready(function(){ref.parentNode.insertBefore(ss,before?ref:ref.nextSibling)});var onloadcssdefined=function(cb){for(var resolvedHref=ss.href,i=sheets.length;i--;)if(sheets[i].href===resolvedHref)return cb();setTimeout(function(){onloadcssdefined(cb)})};return ss.addEventListener&&ss.addEventListener("load",loadCB),ss.onloadcssdefined=onloadcssdefined,onloadcssdefined(loadCB),ss};"undefined"!=typeof exports?exports.loadCSS=loadCSS:w.loadCSS=loadCSS}("undefined"!=typeof global?global:this);

			{# link[rel=preload] polyfill #}
			!function(w){if(w.loadCSS){var rp=loadCSS.relpreload={};if(rp.support=function(){try{return w.document.createElement("link").relList.supports("preload")}catch(e){return!1}},rp.poly=function(){for(var links=w.document.getElementsByTagName("link"),i=0;i<links.length;i++){var link=links[i];"preload"===link.rel&&"style"===link.getAttribute("as")&&(w.loadCSS(link.href,link),link.rel=null)}},!rp.support()){rp.poly();var run=w.setInterval(rp.poly,300);w.addEventListener&&w.addEventListener("load",function(){w.clearInterval(run)}),w.attachEvent&&w.attachEvent("onload",function(){w.clearInterval(run)})}}}(this);
			{% endblock %}
		</script>
	{% endblock %}
{% else %}
	{% block stylesheet %}
		<link rel="stylesheet" type="text/css" href="{{ css_path }}" />
	{% endblock %}
{% endif %}
